{% load static %}
{% block content %}
<!DOCTYPE html>
<html style="font-size: 16px;" lang="en"><head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="MAD?THEN STAY MAD">
    <meta name="description" content="">
    <title>About</title>
    <link rel="stylesheet" href="{% static 'css/webx.css' %}" media="screen">
  <link rel="stylesheet" href="{% static 'css/about.css' %}" media="screen">
    <script class="u-script" type="text/javascript" src="{% static 'js/jquery.js' %}" defer=""></script>
    <script class="u-script" type="text/javascript" src="{% static 'js/webx.js' %}" defer=""></script>
    <link rel="icon" href="{% static 'images/logoblack.png' %}">
    <link  rel="shortcut icon" href="{% static 'images/logoblack.png' %}">

    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Oswald:200,300,400,500,600,700|Antonio:100,200,300,400,500,600,700">
    <link href="https://fonts.googleapis.com/css2?family=Agbalumo&family=Bebas+Neue&family=Fjalla+One&family=Hedvig+Letters+Sans&family=Inconsolata:wght@300;500&family=Kanit:wght@300&family=Oswald:wght@400;500&display=swap" rel="stylesheet">
    
    
    <script type="application/ld+json">{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": ""
}</script>
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="xasdas">
    <meta property="og:type" content="website">
  <meta data-intl-tel-input-cdn-path="intlTelInput/"></head>
  <body data-path-to-root="./" data-include-products="true" class="u-body u-xl-mode" data-lang="en"><header class=" u-border-no-bottom u-border-no-left u-border-no-right u-border-no-top u-clearfix u-header u-section-row-container" id="sec-cb49" style=""><div class="u-section-rows">
        <div class="u-black u-clearfix u-section-row u-sticky" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction="" id="sec-a9db">
          <div class="u-clearfix u-sheet u-valign-middle-lg u-valign-middle-md u-valign-middle-sm u-valign-middle-xl u-sheet-1">
            <p class="u-align-center u-text u-text-1">{{announcement_bar}}</p>
          </div>
          
          
          
          
          
        </div>
        <div class="u-section-row u-sticky u-sticky-68f2 u-white u-section-row-2" id="sec-460b">
          <div class="u-clearfix u-sheet u-valign-middle-lg u-valign-middle-md u-valign-middle-sm u-valign-middle-xs u-sheet-2"><span class="u-align-right u-file-icon u-icon u-icon-1" data-href="/cart/"><img src="{% static 'images/cart.png' %}" alt=""></span>
            <img class="custom-expanded u-align-center u-image u-image-circle u-image-contain u-preserve-proportions u-image-1" src="{% static 'images/youmad4.jpg' %}" alt="" data-image-width="3000" data-image-height="3000" data-href="/">
            <nav class="u-align-left u-menu u-menu-one-level u-offcanvas u-menu-1" data-responsive-from="MD" data-submenu-level="on-click">
              <div class="menu-collapse u-custom-font" style="font-size: 1.125rem; letter-spacing: 0px; text-transform: uppercase; font-weight: 700; font-family: Antonio;">
                <a class="u-button-style u-custom-active-border-color u-custom-border u-custom-border-color u-custom-border-radius u-custom-borders u-custom-hover-border-color u-custom-left-right-menu-spacing u-custom-text-active-color u-custom-text-color u-custom-text-hover-color u-custom-top-bottom-menu-spacing u-nav-link" href="#" style="padding: 4px 2px; font-size: calc(1em + 8px);">
                  <svg class="u-svg-link" viewBox="0 0 24 24"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-2697"></use></svg>
                  <svg class="u-svg-content" version="1.1" id="svg-2697" viewBox="0 0 16 16" x="0px" y="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg"><g><rect y="1" width="16" height="2"></rect><rect y="7" width="16" height="2"></rect><rect y="13" width="16" height="2"></rect>
</g></svg>
                </a>
              </div>
              <div class="u-custom-menu u-nav-container">
                <ul class="u-custom-font u-nav u-spacing-44 u-unstyled u-nav-1"><li class="u-nav-item"><a class="u-border-3 u-border-active-palette-1-base u-border-hover-palette-1-light-1 u-border-no-left u-border-no-right u-border-no-top u-button-style u-nav-link u-radius u-text-active-black u-text-grey-75 u-text-hover-grey-15" href="/" style="--radius:50px; padding: 6px 2px;">HOME</a>
</li><li class="u-nav-item"><a class="u-border-3 u-border-active-palette-1-base u-border-hover-palette-1-light-1 u-border-no-left u-border-no-right u-border-no-top u-button-style u-nav-link u-radius u-text-active-black u-text-grey-75 u-text-hover-grey-15" href="/#store" style="--radius:50px; padding: 6px 2px;">STORE</a>
</li><li class="u-nav-item"><a class="u-border-3 u-border-active-palette-1-base u-border-hover-palette-1-light-1 u-border-no-left u-border-no-right u-border-no-top u-button-style u-nav-link u-radius u-text-active-black u-text-grey-75 u-text-hover-grey-15" href="/about/" style="--radius:50px; padding: 6px 2px;">ABOUT</a>
</li></ul>
              </div>
              <div class="u-custom-menu u-nav-container-collapse">
                <div class="u-container-style u-inner-container-layout u-sidenav u-white">
                  <div class="u-inner-container-layout u-sidenav-overflow">
                    <div class="u-menu-close"></div>
                    <ul class="u-align-center u-custom-font u-font-oswald u-nav u-popupmenu-items u-spacing-36 u-unstyled u-nav-2"><li class="u-nav-item"><a class="u-button-style u-nav-link" href="/">HOME</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="/#store">STORE</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="/about/">ABOUT</a>
</li></ul>
                  </div>
                </div>
                <div class="u-black u-menu-overlay u-opacity u-opacity-20"></div>
              </div>
            </nav>
          </div>
          
          
          
          
          
        </div>
      </div></header>
    <section class="u-align-center u-clearfix u-section-1" id="sec-b003">
      <div class="u-clearfix u-sheet u-valign-top u-sheet-1">
        <div class="u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-list u-list-1">
          <div class="u-repeater u-repeater-1">
            <div class="u-align-left u-container-style u-list-item u-repeater-item u-shape-rectangle u-list-item-1">
              <div class="u-container-layout u-similar-container u-container-layout-1"><span class="u-align-center-xs u-file-icon u-icon u-icon-rectangle u-icon-1"><img src="{% static 'images/709790.png' %}" alt=""></span>
                <h3 class="u-align-center-xs u-custom-font u-font-montserrat u-text u-text-default u-text-1"> Delivery</h3>
                <p class="u-text u-text-2">Coming soon <br> in case of an issue contact us on instragram
                </p>
              </div>
            </div>
            <div class="u-align-left u-container-style u-list-item u-repeater-item u-shape-rectangle u-list-item-2">
              <div class="u-container-layout u-similar-container u-container-layout-2"><span class="u-align-center-xs u-file-icon u-icon u-icon-rectangle u-icon-2"><img src="{% static 'images/8089114.png' %}" alt=""></span>
                <h3 class="u-align-center-xs u-custom-font u-font-montserrat u-text u-text-default u-text-3"> Contacts</h3>
                <p class="u-text u-text-4">info2mad@gmail.com<br>
                </p>
              </div>
            </div>
            <div class="u-align-left u-container-style u-list-item u-repeater-item u-shape-rectangle u-list-item-3">
              <div class="u-container-layout u-similar-container u-container-layout-3"><span class="u-align-center-xs u-file-icon u-icon u-icon-rectangle u-icon-3"><img src="{% static 'images/770444.png' %}" alt=""></span>
                <h3 class="u-align-center-xs u-custom-font u-font-montserrat u-text u-text-default u-text-5">Returns</h3>
                <p class="u-text u-text-6">Coming soon <br> in case of an issue contact us on instragram
                </p>
              </div>
            </div>
            <div class="u-align-left u-container-style u-list-item u-repeater-item u-shape-rectangle u-list-item-4">
              <div class="u-container-layout u-similar-container u-container-layout-4"><span class="u-align-center-xs u-file-icon u-icon u-icon-rectangle u-icon-4"><img src="{% static 'images/2258853.png' %}" alt=""></span>
                <h3 class="u-align-center-xs u-custom-font u-font-montserrat u-text u-text-default u-text-7">Files</h3>
                <p class="u-text u-text-8">Coming soon <br> in case of an issue contact us on instragram
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    
    
    <footer class="u-align-center u-clearfix u-footer u-white u-footer" id="sec-f270"><div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-align-center u-list u-list-1">
          <div class="u-repeater u-repeater-1">
            <div class="u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-container-layout-1"><span class="u-custom-item u-file-icon u-icon u-icon-1"><img src="{% static 'images/174861.png' %}" alt=""></span>
              </div>
            </div>
            <div class="u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-container-layout-2"><span class="u-custom-item u-file-icon u-icon u-icon-2"><img src="{% static 'images/5968397.png' %}" alt=""></span>
              </div>
            </div>
            <div class="u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-container-layout-3"><span class="u-custom-item u-file-icon u-icon u-icon-3"><img src="{% static 'images/11378185.png' %}" alt=""></span>
              </div>
            </div>
          </div>
        </div>
        <p class="u-small-text u-text u-text-variant u-text-1">2madcloth©&nbsp; 2023</p>
      </div></footer>
   
  
</body></html>
{% endblock %}