{% load static %}
{% block content %}
<!DOCTYPE html>
<html style="font-size: 16px;" lang="en"><head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="New Collection, 2022/2023, ​Mid Season Sale, ​Celebrity Style, Shopping Tips, Outfit Ideas And How-Tos, ​New Arrivals Everyday, ​Final Season Sale, ​Featured Products, 2022/2023, ​Fashionist, ​Featured Products, ​Final Season Sale">
    <meta name="description" content="">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'css/webx.css' %}" media="screen">
<link rel="stylesheet" href="{% static 'css/Home.css' %}" media="screen">
    <script class="u-script" type="text/javascript" src="{% static 'js/jquery.js' %}" defer=""></script>
    <script class="u-script" type="text/javascript" src="{% static 'js/webx.js' %}" defer=""></script>
    <link rel="icon" href="{% static 'images/logoblack.png' %}">
    <link  rel="shortcut icon" href="{% static 'images/logoblack.png' %}">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Oswald:200,300,400,500,600,700|Antonio:100,200,300,400,500,600,700">
    <link href="https://fonts.googleapis.com/css2?family=Agbalumo&family=Bebas+Neue&family=Fjalla+One&family=Hedvig+Letters+Sans&family=Inconsolata:wght@300;500&family=Kanit:wght@300&family=Oswald:wght@400;500&display=swap" rel="stylesheet">
    
    
    
    
    
    <script type="application/ld+json">{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": ""
}</script>
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="Home">
    <meta property="og:type" content="website">
  <meta data-intl-tel-input-cdn-path="intlTelInput/"></head>
  <body data-home-page="/" data-home-page-title="Home" data-path-to-root="./" data-include-products="true" class="u-body u-xl-mode" data-lang="en"><header class=" u-border-no-bottom u-border-no-left u-border-no-right u-border-no-top u-clearfix u-header u-section-row-container" id="sec-cb49" style=""><div class="u-section-rows">
        <div class="u-black u-clearfix u-section-row u-sticky" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction="" id="sec-a9db">
          <div class="u-clearfix u-sheet u-valign-middle-lg u-valign-middle-md u-valign-middle-sm u-valign-middle-xl u-sheet-1">
            <p class="u-align-center u-text u-text-1">{{announcement_bar}}</p>
          </div>
          
          
          
          
          
        </div>
        <div class="u-section-row u-sticky u-sticky-68f2 u-white u-section-row-2" id="sec-460b">
          <div class="u-clearfix u-sheet u-valign-middle-lg u-valign-middle-md u-valign-middle-sm u-valign-middle-xs u-sheet-2"><span class="u-align-right u-file-icon u-icon u-icon-1" data-href="/cart/"><img src="{% static 'images/cart.png' %}" alt=""></span>
            <img class="custom-expanded u-align-center u-image u-image-circle u-image-contain u-preserve-proportions u-image-1" src="{% static 'images/youmad4.jpg' %}" alt="" data-image-width="3000" data-image-height="3000" data-href="/">
            <nav class="u-align-left u-menu u-menu-one-level u-offcanvas u-menu-1" data-responsive-from="MD" data-submenu-level="on-click">
              <div class="menu-collapse u-custom-font" style="font-size: 1.125rem; letter-spacing: 0px; text-transform: uppercase; font-weight: 700; font-family: Antonio;">
                <a class="u-button-style u-custom-active-border-color u-custom-border u-custom-border-color u-custom-border-radius u-custom-borders u-custom-hover-border-color u-custom-left-right-menu-spacing u-custom-text-active-color u-custom-text-color u-custom-text-hover-color u-custom-top-bottom-menu-spacing u-nav-link" href="#" style="padding: 4px 2px; font-size: calc(1em + 8px);">
                  <svg class="u-svg-link" viewBox="0 0 24 24"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-2697"></use></svg>
                  <svg class="u-svg-content" version="1.1" id="svg-2697" viewBox="0 0 16 16" x="0px" y="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg"><g><rect y="1" width="16" height="2"></rect><rect y="7" width="16" height="2"></rect><rect y="13" width="16" height="2"></rect>
</g></svg>
                </a>
              </div>
              <div class="u-custom-menu u-nav-container">
                <ul class="u-custom-font u-nav u-spacing-44 u-unstyled u-nav-1"><li class="u-nav-item"><a class="u-border-3 u-border-active-palette-1-base u-border-hover-palette-1-light-1 u-border-no-left u-border-no-right u-border-no-top u-button-style u-nav-link u-radius u-text-active-black u-text-grey-75 u-text-hover-grey-15" href="/" style="--radius:50px; padding: 6px 2px;">HOME</a>
</li><li class="u-nav-item"><a class="u-border-3 u-border-active-palette-1-base u-border-hover-palette-1-light-1 u-border-no-left u-border-no-right u-border-no-top u-button-style u-nav-link u-radius u-text-active-black u-text-grey-75 u-text-hover-grey-15" href="/#store" style="--radius:50px; padding: 6px 2px;">STORE</a>
</li><li class="u-nav-item"><a class="u-border-3 u-border-active-palette-1-base u-border-hover-palette-1-light-1 u-border-no-left u-border-no-right u-border-no-top u-button-style u-nav-link u-radius u-text-active-black u-text-grey-75 u-text-hover-grey-15" href="/about/" style="--radius:50px; padding: 6px 2px;">ABOUT</a>
</li></ul>
              </div>
              <div class="u-custom-menu u-nav-container-collapse">
                <div class="u-container-style u-inner-container-layout u-sidenav u-white">
                  <div class="u-inner-container-layout u-sidenav-overflow">
                    <div class="u-menu-close"></div>
                    <ul class="u-align-center u-custom-font u-font-oswald u-nav u-popupmenu-items u-spacing-36 u-unstyled u-nav-2"><li class="u-nav-item"><a class="u-button-style u-nav-link" href="/">HOME</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="/#store">STORE</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="/about/">ABOUT</a>
</li></ul>
                  </div>
                </div>
                <div class="u-black u-menu-overlay u-opacity u-opacity-20"></div>
              </div>
            </nav>
          </div>
          
          
          
          
          
        </div>
      </div></header>
    <section class="skrollable u-clearfix u-hidden-lg u-hidden-xl u-parallax u-valign-middle-xs u-section-1" id="sec-47aa">
      <img class="u-align-right u-expanded-height-lg u-expanded-height-xl u-hidden-md u-hidden-sm u-hidden-xs u-image u-image-default u-image-1" src="{% static 'images/boris1.jpg' %}" alt="" data-image-width="536" data-image-height="953">
      <div class="u-container-style u-expanded-width-sm u-expanded-width-xs u-group u-shape-rectangle u-group-1">
        <div class="u-container-layout u-container-layout-1">
          <div class="u-carousel u-expanded-width u-gallery u-gallery-slider u-layout-carousel u-lightbox u-no-transition u-show-text-always u-gallery-1" data-interval="3750" data-u-ride="carousel" id="carousel-f127" data-pause="false">
            <ol class="u-absolute-hcenter u-carousel-indicators u-hidden u-carousel-indicators-1">
              <li data-u-target="#carousel-f127" data-u-slide-to="0" class="u-active u-grey-70 u-shape-circle" style="width: 10px; height: 10px;"></li>
              <li data-u-target="#carousel-f127" data-u-slide-to="1" class="u-grey-70 u-shape-circle" style="width: 10px; height: 10px;"></li>
              <li data-u-target="#carousel-f127" data-u-slide-to="2" class="u-grey-70 u-shape-circle" style="width: 10px; height: 10px;"></li>
            </ol>
            <div class="u-carousel-inner u-gallery-inner" role="listbox">
              
              
              <div class="u-active u-carousel-item u-gallery-item u-carousel-item-1">
                <div class="u-back-slide" data-image-width="394" data-image-height="664">
                  <img class="u-back-image u-expanded" src="{% static slider.first_slide.images.url %}">
                </div>
                <div class="u-align-center u-container-align-center-md u-container-align-center-sm u-container-align-center-xs u-over-slide u-shading u-valign-bottom-lg u-valign-bottom-xl u-valign-middle-md u-valign-middle-sm u-valign-middle-xs u-over-slide-1"></div>
              </div>

              {% for slide in slides %}
              <div class="u-carousel-item u-gallery-item u-carousel-item-2">
                <div class="u-back-slide" data-image-width="811" data-image-height="898">
                  <img class="u-back-image u-expanded" src="{% static slide.images.url %}">
                </div>
                <div class="u-align-center u-container-align-center-md u-container-align-center-sm u-container-align-center-xs u-over-slide u-shading u-valign-bottom-lg u-valign-bottom-xl u-valign-middle-md u-valign-middle-sm u-valign-middle-xs u-over-slide-2"></div>
              </div>
              {%endfor%}
              
              
              

            </div>
            <a class="u-absolute-vcenter u-carousel-control u-carousel-control-prev u-grey-70 u-hidden u-icon-circle u-opacity u-opacity-70 u-spacing-10 u-text-white u-carousel-control-1" href="#carousel-f127" role="button" data-u-slide="prev">
              <span aria-hidden="true">
                <svg viewBox="0 0 451.847 451.847"><path d="M97.141,225.92c0-8.095,3.091-16.192,9.259-22.366L300.689,9.27c12.359-12.359,32.397-12.359,44.751,0
c12.354,12.354,12.354,32.388,0,44.748L173.525,225.92l171.903,171.909c12.354,12.354,12.354,32.391,0,44.744
c-12.354,12.365-32.386,12.365-44.745,0l-194.29-194.281C100.226,242.115,97.141,234.018,97.141,225.92z"></path></svg>
              </span>
              <span class="sr-only">
                <svg viewBox="0 0 451.847 451.847"><path d="M97.141,225.92c0-8.095,3.091-16.192,9.259-22.366L300.689,9.27c12.359-12.359,32.397-12.359,44.751,0
c12.354,12.354,12.354,32.388,0,44.748L173.525,225.92l171.903,171.909c12.354,12.354,12.354,32.391,0,44.744
c-12.354,12.365-32.386,12.365-44.745,0l-194.29-194.281C100.226,242.115,97.141,234.018,97.141,225.92z"></path></svg>
              </span>
            </a>
            <a class="u-absolute-vcenter u-carousel-control u-carousel-control-next u-grey-70 u-hidden u-icon-circle u-opacity u-opacity-70 u-spacing-10 u-text-white u-carousel-control-2" href="#carousel-f127" role="button" data-u-slide="next">
              <span aria-hidden="true">
                <svg viewBox="0 0 451.846 451.847"><path d="M345.441,248.292L151.154,442.573c-12.359,12.365-32.397,12.365-44.75,0c-12.354-12.354-12.354-32.391,0-44.744
L278.318,225.92L106.409,54.017c-12.354-12.359-12.354-32.394,0-44.748c12.354-12.359,32.391-12.359,44.75,0l194.287,194.284
c6.177,6.18,9.262,14.271,9.262,22.366C354.708,234.018,351.617,242.115,345.441,248.292z"></path></svg>
              </span>
              <span class="sr-only">
                <svg viewBox="0 0 451.846 451.847"><path d="M345.441,248.292L151.154,442.573c-12.359,12.365-32.397,12.365-44.75,0c-12.354-12.354-12.354-32.391,0-44.744
L278.318,225.92L106.409,54.017c-12.354-12.359-12.354-32.394,0-44.748c12.354-12.359,32.391-12.359,44.75,0l194.287,194.284
c6.177,6.18,9.262,14.271,9.262,22.366C354.708,234.018,351.617,242.115,345.441,248.292z"></path></svg>
              </span>
            </a>
          </div>
          
                <h1 class="u-align-center u-custom-font u-font-montserrat u-text u-text-body-alt-color u-text-default u-text-1">{{slider.Title}} </h1>
                {% if slider.button_url is None %}
                <a href="/#store" class="u-align-center u-border-2 u-border-white u-btn u-button-style u-hover-white u-none u-btn-1">{{slider.button_text}}</a>
                {% else%}
                <a href="{{slider.button_url}}" class="u-align-center u-border-2 u-border-white u-btn u-button-style u-hover-white u-none u-btn-1">{{slider.button_text}}</a>
                {% endif %}
        </div>
      </div>
    </section>
    <section class="skrollable u-clearfix u-hidden-md u-hidden-sm u-hidden-xs u-parallax u-section-2" id="sec-bd20">
      <div class="data-layout-selected u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
        <div class="u-layout">
          <div class="u-layout-row">
            <div class="u-container-style u-hidden-md u-hidden-sm u-hidden-xs u-layout-cell u-size-30 u-layout-cell-1">
              <div class="u-container-layout u-container-layout-1">
                <div class="u-carousel u-expanded-width u-gallery u-gallery-slider u-layout-carousel u-lightbox u-no-transition u-show-text-always u-gallery-1" data-interval="3750" data-u-ride="carousel" id="carousel-c2fa" data-pause="hover">
                  <ol class="u-absolute-hcenter u-carousel-indicators u-hidden u-carousel-indicators-1">
                    <li data-u-target="#carousel-c2fa" data-u-slide-to="0" class="u-active u-grey-70 u-shape-circle" style="width: 10px; height: 10px;"></li>
                    <li data-u-target="#carousel-c2fa" data-u-slide-to="1" class="u-grey-70 u-shape-circle" style="width: 10px; height: 10px;"></li>
                    <li data-u-target="#carousel-c2fa" data-u-slide-to="2" class="u-grey-70 u-shape-circle" style="width: 10px; height: 10px;"></li>
                  </ol>
                  <div class="u-carousel-inner u-gallery-inner" role="listbox">
                    

                    <div class="u-active u-carousel-item u-gallery-item u-carousel-item-1">
                      <div class="u-back-slide" data-image-width="394" data-image-height="664">
                        <img class="u-back-image u-expanded" src="{% static slider.first_slide.images.url %}">
                      </div>
                      <div class="u-align-center u-container-align-center u-over-slide u-shading u-valign-top u-over-slide-1"></div>
                    </div>
                    {% for slide in slides %}
                    <div class="u-carousel-item u-gallery-item u-carousel-item-2">
                      <div class="u-back-slide" data-image-width="811" data-image-height="898">
                        <img class="u-back-image u-expanded" src="{% static slide.images.url %}">
                      </div>
                      <div class="u-align-center u-container-align-center u-over-slide u-shading u-valign-top u-over-slide-2"></div>
                    </div>
                    {%endfor%}
                    

                  </div>
                  <a class="u-absolute-vcenter u-carousel-control u-carousel-control-prev u-opacity u-opacity-70 u-spacing-10 u-text-white u-carousel-control-1" href="#carousel-c2fa" role="button" data-u-slide="prev">
                    <span aria-hidden="true">
                      <svg viewBox="0 0 451.847 451.847"><path d="M97.141,225.92c0-8.095,3.091-16.192,9.259-22.366L300.689,9.27c12.359-12.359,32.397-12.359,44.751,0
c12.354,12.354,12.354,32.388,0,44.748L173.525,225.92l171.903,171.909c12.354,12.354,12.354,32.391,0,44.744
c-12.354,12.365-32.386,12.365-44.745,0l-194.29-194.281C100.226,242.115,97.141,234.018,97.141,225.92z"></path></svg>
                    </span>
                    <span class="sr-only">
                      <svg viewBox="0 0 451.847 451.847"><path d="M97.141,225.92c0-8.095,3.091-16.192,9.259-22.366L300.689,9.27c12.359-12.359,32.397-12.359,44.751,0
c12.354,12.354,12.354,32.388,0,44.748L173.525,225.92l171.903,171.909c12.354,12.354,12.354,32.391,0,44.744
c-12.354,12.365-32.386,12.365-44.745,0l-194.29-194.281C100.226,242.115,97.141,234.018,97.141,225.92z"></path></svg>
                    </span>
                  </a>
                  <a class="u-absolute-vcenter u-carousel-control u-carousel-control-next u-opacity u-opacity-70 u-spacing-10 u-text-white u-carousel-control-2" href="#carousel-c2fa" role="button" data-u-slide="next">
                    <span aria-hidden="true">
                      <svg viewBox="0 0 451.846 451.847"><path d="M345.441,248.292L151.154,442.573c-12.359,12.365-32.397,12.365-44.75,0c-12.354-12.354-12.354-32.391,0-44.744
L278.318,225.92L106.409,54.017c-12.354-12.359-12.354-32.394,0-44.748c12.354-12.359,32.391-12.359,44.75,0l194.287,194.284
c6.177,6.18,9.262,14.271,9.262,22.366C354.708,234.018,351.617,242.115,345.441,248.292z"></path></svg>
                    </span>
                    <span class="sr-only">
                      <svg viewBox="0 0 451.846 451.847"><path d="M345.441,248.292L151.154,442.573c-12.359,12.365-32.397,12.365-44.75,0c-12.354-12.354-12.354-32.391,0-44.744
L278.318,225.92L106.409,54.017c-12.354-12.359-12.354-32.394,0-44.748c12.354-12.359,32.391-12.359,44.75,0l194.287,194.284
c6.177,6.18,9.262,14.271,9.262,22.366C354.708,234.018,351.617,242.115,345.441,248.292z"></path></svg>
                    </span>
                  </a>
                </div>
                {% if slider.button_url is None %}
                <a class="u-align-center u-border-2 u-border-hover-white u-border-white u-btn u-button-style u-hover-white u-none u-text-hover-black u-btn-1" href="/#store">{{slider.button_text}}</a>
                {% else%}
                <a class="u-align-center u-border-2 u-border-hover-white u-border-white u-btn u-button-style u-hover-white u-none u-text-hover-black u-btn-1" href="{{slider.button_url}}">{{slider.button_text}}</a>
                {% endif %}
                <h2 class="u-align-center u-custom-font u-font-montserrat u-text u-text-body-alt-color u-text-default u-text-1">{{slider.Title}}</h2>
              </div>
            </div>
            <div class="u-container-style u-image u-layout-cell u-size-30 u-image-1" style="background-image: url({% static slider.main_image.url %});" data-image-width="1280" data-image-height="954">
              <div class="u-container-layout u-container-layout-2"></div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-clearfix u-section-3" id="sec-eb07">
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      <div class="u-clearfix u-sheet u-valign-bottom-sm u-sheet-1" id="store">
        <div class="u-expanded-width u-hidden-sm u-hidden-xs u-layout-grid u-list u-list-1">
          <div class="u-repeater u-repeater-1" >
            
            {% for product in products%}
            <a href="/products-{{product.id}}/">
            <div class="u-container-align-center-md u-container-align-center-sm u-container-align-center-xs u-container-style u-hover-feature u-list-item u-repeater-item u-list-item-1" data-href="/products-{{product.id}}/" data-animation-name="customAnimationIn" data-animation-duration="1000">
              <div class="u-container-layout u-similar-container u-valign-middle-md u-valign-middle-sm u-valign-middle-xs u-container-layout-1">
                <img class="custom-expanded u-align-center-md u-align-center-sm u-align-center-xs u-hover-feature u-image u-image-default u-image-1" src="{% static product.image.images.url %}" data-image-width="595" data-image-height="736">
                <div class="u-container-style u-group u-shape-rectangle u-group-1">
                  <div class="u-container-layout u-container-layout-2">
                    <h3 class="u-align-left u-custom-font u-font-oswald u-text u-text-default u-text-1" style="font-size:1.7rem;color:black;">{{product.name}}</h3>
                  </div>
                </div>
                <p class="u-align-center u-custom-font u-font-oswald u-text u-text-default u-text-2" style="color:black;">{{product.discounted_price}}&euro;<br>
                </p>
              </div>
            </div>
          </a>
            {% endfor %}
          </div>
        </div>
        <div class="u-expanded-width-sm u-expanded-width-xs u-hidden-lg u-hidden-md u-hidden-xl u-list u-list-2">
          <div class="u-repeater u-repeater-2" style="color:black;">
            {% for product in products %}
                  {% if forloop.counter|divisibleby:2 %}
            <div class="u-container-style u-custom-item u-list-item u-repeater-item u-shape-rectangle u-list-item-5" data-animation-name="customAnimationIn" data-animation-duration="1000" data-href="/products-{{product.id}}/">
              <div class="u-container-layout u-similar-container u-container-layout-9">
                <img class="u-align-center-xs u-expanded-width-xs u-image u-image-default u-image-5" src="{% static product.image.images.url %}" alt="" data-image-width="800" data-image-height="871">
                <p class="u-align-left-xs u-custom-font u-heading-font u-text u-text-default-xs u-text-9" style="color:black;">{{product.name}}</p>
                <p class="u-align-left-xs u-custom-font u-font-oswald u-text u-text-default-xs u-text-10 " style="color:black;"> {{product.discounted_price}}&euro;</p>
              </div>
            </div>
            {% else %}
            <div class="u-container-style u-custom-item u-list-item u-repeater-item u-shape-rectangle u-list-item-6" data-animation-name="customAnimationIn" data-animation-duration="1000" data-href="/products-{{product.id}}/">
              <div class="u-container-layout u-similar-container u-container-layout-10">
                <img class="u-align-center-xs u-expanded-width-xs u-image u-image-default u-image-6" src="{% static product.image.images.url %}" alt="" data-image-width="595" data-image-height="736">
                <p class="u-align-left-xs u-custom-font u-heading-font u-text u-text-default-xs u-text-11" style="color:black;">{{product.name}}</p>
                <p class="u-align-left-xs u-custom-font u-font-oswald u-text u-text-default-xs u-text-12" style="color:black;"> {{product.discounted_price}}&euro;</p>
              </div>
            </div>
            {% endif %}
{% endfor %}
          </div>
        </div>
      </div>
    </section>
    <section class="u-clearfix u-white u-section-4" id="sec-fbca">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="custom-expanded data-layout-selected u-clearfix u-gutter-50 u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-row">
              <div class="u-align-left u-container-style u-layout-cell u-left-cell u-size-20 u-layout-cell-1">
                <div class="u-container-layout u-container-layout-1">
                  <div class="u-expanded u-uploaded-video u-video u-video-1" data-animation-name="customAnimationIn" data-animation-duration="1000">
                    <div class="embed-responsive">
                      <video class="embed-responsive-item" data-autoplay="1" loop="" muted="1" controls="" autoplay="autoplay" playsinline="">
                        <source src="{% static 'videos/YouMad.mp4' %}" type="video/mp4">
                        <p>Your browser does not support HTML5 video.</p>
                      </video>
                    </div>
                  </div>
                </div>
              </div>
              <div class="u-align-left u-container-style u-layout-cell u-right-cell u-size-40 u-layout-cell-2">
                <div class="u-container-layout u-container-layout-2">
			<img class="custom-expanded u-align-center u-image u-image-circle u-image-contain u-preserve-proportions u-image-1" src="{% static 'images/youmad4.jpg' %}" alt="" data-image-width="3000" data-image-height="3000">
                  <div class="u-clearfix u-expanded-width u-group-elements u-group-elements-1">
                    <div class="u-clearfix u-expanded-width u-group-elements u-group-elements-2"></div>
                    <h2 class="u-align-left u-custom-font u-text u-text-1">FOLLOW US !<br>
                      <br>
                    </h2>
                    <div class="u-align-left u-social-icons u-spacing-10 u-social-icons-1">
                      <a class="u-social-url" title="instagram" target="_blank" href="https://www.instagram.com/2madcloth/"><span class="u-icon u-social-icon u-social-instagram u-icon-1"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 112 112" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-c1f1"></use></svg><svg class="u-svg-content" viewBox="0 0 112 112" x="0" y="0" id="svg-c1f1"><circle fill="currentColor" cx="56.1" cy="56.1" r="55"></circle><path fill="#FFFFFF" d="M55.9,38.2c-9.9,0-17.9,8-17.9,17.9C38,66,46,74,55.9,74c9.9,0,17.9-8,17.9-17.9C73.8,46.2,65.8,38.2,55.9,38.2
z M55.9,66.4c-5.7,0-10.3-4.6-10.3-10.3c-0.1-5.7,4.6-10.3,10.3-10.3c5.7,0,10.3,4.6,10.3,10.3C66.2,61.8,61.6,66.4,55.9,66.4z"></path><path fill="#FFFFFF" d="M74.3,33.5c-2.3,0-4.2,1.9-4.2,4.2s1.9,4.2,4.2,4.2s4.2-1.9,4.2-4.2S76.6,33.5,74.3,33.5z"></path><path fill="#FFFFFF" d="M73.1,21.3H38.6c-9.7,0-17.5,7.9-17.5,17.5v34.5c0,9.7,7.9,17.6,17.5,17.6h34.5c9.7,0,17.5-7.9,17.5-17.5V38.8
C90.6,29.1,82.7,21.3,73.1,21.3z M83,73.3c0,5.5-4.5,9.9-9.9,9.9H38.6c-5.5,0-9.9-4.5-9.9-9.9V38.8c0-5.5,4.5-9.9,9.9-9.9h34.5
c5.5,0,9.9,4.5,9.9,9.9V73.3z"></path></svg></span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    
    
    <footer class="u-align-center u-clearfix u-footer u-white u-footer" id="sec-f270"><div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-align-center u-list u-list-1">
          <div class="u-repeater u-repeater-1">
            <div class="u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-container-layout-1"><span class="u-custom-item u-file-icon u-icon u-icon-1"><img src="{% static 'images/174861.png' %}" alt=""></span>
              </div>
            </div>
            <div class="u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-container-layout-2"><span class="u-custom-item u-file-icon u-icon u-icon-2"><img src="{% static 'images/5968397.png' %}" alt=""></span>
              </div>
            </div>
            <div class="u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-container-layout-3"><span class="u-custom-item u-file-icon u-icon u-icon-3"><img src="{% static 'images/11378185.png' %}" alt=""></span>
              </div>
            </div>
          </div>
        </div>
        <p class="u-small-text u-text u-text-variant u-text-1">2madcloth©&nbsp; 2023</p>
      </div></footer>

  
</body></html>
<script>
  // Check if the URL contains "#store"
  if (window.location.href.includes("#store")) {
      // Smooth scroll to the element with the ID 'store'
      document.getElementById('store').scrollIntoView({
          behavior: 'smooth'
      });
      
  }
</script>
{% endblock %}
